@using PagedList.Mvc;
@using PagedList;
@using FosterUniteForum.Domain;
@using FosterUniteForum.Data.EntityModel;
@model PagedList<Topic>

@{
    ForumService fs = new ForumService();
}
@if (Model.Count != 0)
{
    foreach (Topic topic in Model)
    {
        <tr style="font-size:smaller">
            <td>
                @Html.ActionLink(
                    topic.Title,
                    "ViewTopic",
                    "Topic",
                    new { id = topic.Id },
                    null
                )

                <br />
                <span>by @topic.AuthorName on @topic.Posted</span>
            </td>
            <td>@topic.PostCount</td>
            <td>@topic.ViewCount</td>
            <td><span>by @topic.LastPostUsername on @topic.LastPosted</span></td>
        </tr>
    }
}
<tr>
    <td colspan="4" class="text-center">
        @Html.PagedListPager(Model,
                            page => Url.Action("RenderTopic",
                            new { forumID = ViewBag.forumID, page, pageSize = Model.PageSize }),
                            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "topiclist" }))
    </td>
</tr>
