@using FosterUniteForum.Data.EntityModel;
@model ForumUser
@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Areas/FosterUniteForum/Views/Shared/_ForumLayout.cshtml";
}

<div class="well">
    <div class="container">
        <div class="row">
            <h2 class="text-center">User Profile</h2>
            <table class="col-lg-5 col-lg-push-4">
                <tr>
                    <td>
                        <b>First name: </b>
                    </td>
                    <td>
                        @Model.FirstName
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Last name: </b>
                    </td>
                    <td>
                        @Model.LastName
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Gender: </b>
                    </td>
                    <td>
                        @Model.Gender
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Company Name: </b>
                    </td>
                    <td>
                        @Model.CompanyName
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Company Address: </b>
                    </td>
                    <td>
                        @Model.CompanyAddress
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Last visit: </b>
                    </td>
                    <td>
                        @Model.LastVisit
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>